{% extends 'home.html' %}
{% block content %}


<div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script type="text/javascript">
$(function () {
         var my_categories={{my_categories | safe}}
         var my_data={{my_data | safe }}

        $('#chart').highcharts({
            title: {
                text: 'My Training progress',
                x: -20 //center
            },

            yAxis: {
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
              xAxis: {
                categories: my_categories
            },
            series: [{
                name: 'distance',
                data: my_data
            }]
        });
    });

    </script>

{% endblock %}




